@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #f5f5f5;

  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/*=================================================================
========= Definindo Espaço de atuação da tela
=================================================================*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.space {
  display: flex;
  flex-direction: column;
  border: 2px solid #6900ff;
  border-radius: 16px;
  width: clamp(400px, 10vw, 700px);
  height: 300px;
}

.screen {
  display: none;
  padding: 2rem;
}

.screen.active {
  display: flex;
}

/*=================================================================
========= Estruturando tela de cronômetro                 =========
=================================================================*/

.stopwatch {
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.btn-clock {
  align-self: center;
  border: 2px solid rgb(81, 0, 255);
  border-radius: 10px;
  background-color: #585454;
  color: #f5f5f5;
  padding: 5px;
  box-shadow: 3px 1px 10px rgb(212, 16, 16);
}

/*=================================================================
 Botões de controle de tempo
=================================================================*/
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.init {
  align-self: center;
  border: 2px solid #1eff00;
  border-radius: 10px;
  background-color: #585454;
  color: #f5f5f5;
  padding: 5px;
  box-shadow: 3px 1px 10px #1eff00;
}

.pause {
  align-self: center;
  border: 2px solid #c5b71b;
  border-radius: 10px;
  background-color: #585454;
  color: #f5f5f5;
  padding: 5px;
  box-shadow: 3px 1px 10px #c5b71b;
}

.reset {
  align-self: center;
  border: 2px solid red;
  border-radius: 10px;
  background-color: #585454;
  color: #f5f5f5;
  padding: 5px;
  box-shadow: 3px 1px 10px red;
}
button {
  transition: all 0.3s ease 0.1s;
}

button:hover {
  transform: scale(1.05);
  border: 3px solid #6900ff;
  box-shadow: 4px 1px 10px #6900ff;
  cursor: pointer;
}


/*=================================================================
========= Estruturando tela de Horário                    =========
=================================================================*/

.clock {
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.btn-stopwatch {
  align-self: center;
  border: 2px solid rgb(81, 0, 255);
  border-radius: 10px;
  background-color: #585454;
  color: #f5f5f5;
  padding: 5px;
  box-shadow: 3px 1px 10px rgb(212, 16, 16);
}


.hour{
  font-size: 3rem;
  font-weight: bold;
}